extends layout

block content

    head
        //- jQuery CDN Link
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")

        //- Summernote CSS CDN Link
        link(href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css", rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css", rel="stylesheet")

        //- Summernote JS CDN Link
        script(src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js")

        script.
            $(document).ready(function() {
                $(".addPost-body").summernote({
                    height: 250
                });
                $('.dropdown-toggle').dropdown();
            });

    body
        a(href="/dashboard") &larr; Back
        .admin__title
            h2 Add New Post

        form(action="/add-post", method="POST")
            label(for="title")
                b Title
            input(type="text", placeholder="Post Title", name="title")

            label(for="body")
                b Content
            textarea(name="body", placeholder="Type here...", cols="50", rows="10" class="addPost-body")

            input(type="submit", value="Publish", class="btn-publish")
