header.header
    a.header__logo(href='/') Stories
    nav.header__nav
      ul
        li
          a(href='/') Home
        li
          a(href='/about') About
        li
          a(href='/contact') Contact
    .header__btn
      button.logoutBtn(onclick="window.location.href='/logout'") 
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M10 3H6a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h4M16 17l5-5-5-5M19.8 12H9"/></svg>