header.header
    a.header__logo(href='/') Admin Panel
    nav.header__nav
      ul
        li
          a(href='/') Home
        li
          a(href='/about') About
        li
          a(href='/contact') Contact
    .header__btn
      a(href='/logout')
        button Logout