extends layout

block content
    - const currentPage = 'login'
    
    h2 Log In

    form(action="/admin", method="POST")
        label(for="username")
            b Username
        input(type="text", placeholder="Enter Username", name="username" required="")
        
        label(for="password")
            b Password
        input(type="password", placeholder="Enter Password", name="password" required="")
        
        input(type="submit", value="Login", class="btn-login")

        p.login-page
        | Don't have an account? 
        a(href="/register") Create an account
