doctype html
html
  head
    title= `${title}`

    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
    meta(name='description' content= `${description}`)
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/js/script.js')

  body    
    .container
      include ./header.pug

      block content

      include ../footer.pug
