@import "colors.scss";
@import "variables.scss";

/* Home Article List */

.articles__heading {
    margin-top: 4rem;
    font-weight: 400;
  }
  
.article__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;

    &:hover {
        li {
            filter: blur(3px);

            &:hover {
                filter: none;
            }
        }
    }

    li {
        font-size: $font-size-sm;
        cursor: pointer;
        transition: filter 0.1s;

        &:not(:last-child) {
            border-bottom: 1px solid $gray-light;
        }

        &:hover {
            filter: none;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-decoration: none;
            margin: 18px 0;
        }
    }
}
  
.article__list__date {
    font-size: 1rem;
    color: $gray;
    width: 100px;
    display: inline-block;
    width: 260px;
}