@import "colors.scss";
@import "variables.scss";

.searchBar {
    visibility: hidden;
    transform: translateY(-100px);
    background-color: $black;
    padding: 4px 0;
    position: absolute;
    left: 0;
    right: 0;

    &.open {
        transform: translateY(0);
        transition: transform 0.1s;
    }

    input {
        margin: 0;
        border: 0;
    }
}

#searchClose {
    position: absolute;
    top: 0;
    right: 0;
    color: $gray-light;
    padding: 15px;
    cursor: pointer;
}
