.searchBar
  .container
    form.search__form(action='/search' role='search' method='POST')
      input#searchInput(type='search' aria-label='Search' name='searchTerm' placeholder='Search here...')
    #searchClose Close