extends layout

block content

    body 
        .author
            h1.author__heading Hi, I am Ify.
            p.author__body DevOps Engineer and Blogger.

        img.hero-image(src='/img/hero-image.webp' alt='Person looking out through window' width='981' height='528')

        section.articles
            h2.articles__heading Latest Posts
            ul.article__ul
                if data && data.length > 0
                    each post in data
                        li
                            a(href=`/post/${post._id}`)
                                span= post.title
                                span.article__list__date= post.createdAt.toDateString()
                else
                    li No posts found
            if nextPage !== null
                a(href=`/?page=${nextPage}`, class="pagination") &lt; View Older Posts