extends layout

block content

    body 
        div.author
            h1.author__heading Search Results

        section.articles
            ul.article__ul
                if data && data.length > 0
                    each post in data
                        li
                            a(href=`/post/${post._id}`)
                                span= post.title
                                span.article__list__date= post.createdAt.toDateString()
                else
                    li No posts found